html {
  font: {
    family: Roboto, Arial, sans-serif;
    size: 16px;
  };
  color: #fff;
}

body {
  margin: 0;
  background-color: rgba(0,0,0,0);
}

main {
  position: relative;
  overflow: hidden;
  width: 1280px;
  height: 720px;
}

article {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

section {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;

  @keyframes toLeft {
    0% {
      transform:translate(100%, -50%);
    }

    100% {
      transform:translate(-100%, -50%);
    }
  }

  animation: 10s linear both toLeft;

  dt,
  dd {
    display: flex;
    align-items: center;
    margin: 0;

    span,
    img {
      display: inline-block;
    }

    span {
      padding: 0 .25rem;
    }

    img {
      width: 1em;
      height: 1em;
    }
  }

  dt {
    font-size: 1.125rem;
  }

  dd {
    font-size: 1.3125rem;
  }
}
